{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic" // Evite import React from 'react' in .tsx files
      }
    ],
    "@babel/preset-typescript" // Transpile typescript
  ]
}
